
@font-face {
    font-family: Roboto;
    src: url(/assets/fonts/Roboto-Regular.ttf), url(/assets/fonts/Roboto-Bold.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;


ul li::before {
    content: url('/assets/images/icon-list.svg');
    align-self: center;
}

li {
    display: flex;
    @apply gap-4
}

.bg-invalid{
    @apply bg-red-100 border-red-600 text-red-400
}

.activo:hover{
    background: rgb(203,85,150);
    background: linear-gradient(90deg, rgba(203,85,150,1) 0%, rgba(255,52,38,1) 36%, rgba(255,57,43,1) 100%);
    @apply shadow-xl shadow-primary
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

